<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="Libraries">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private IEnumerable<System.Reflection.Assembly> Libraries
    {
        get;
    } = new[]
    {
        typeof(CentralStation.Web.Shared._Imports).Assembly
    };
}
